<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM Suite" parallel="false">
    <test name="OrangeHRM Tests - Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="login.LoginTests"/>
            <class name="employee.AddEmployeeTests"/>
            <class name="employee.SearchEmployeeTests"/>
        </classes>
    </test>

    <test name="OrangeHRM Tests - Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="login.LoginTests"/>
            <class name="employee.AddEmployeeTests"/>
            <class name="employee.SearchEmployeeTests"/>
        </classes>
    </test>
</suite>
